@font-face {
    font-family: 'Nyght Serif Dark';
    font-weight: 800;
    font-style: normal;
    src: url(../fonts/NyghtSerif-Dark.woff2);
}

@font-face {
    font-family: 'Nyght Serif Dark Italic';
    font-weight: 800;
    font-style: normal;
    src: url(../fonts/NyghtSerif-DarkItalic.woff2);
}

@font-face {
    font-family: 'Nyght Serif';
    font-weight: 300;
    font-style: italic;
    src: url(../fonts/NyghtSerif-LightItalic.woff2);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #0B0D0C;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    padding: 24px 0px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .1);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list {
    display: flex;
    gap: 0 40px;
}

.menu-link {
    font-size: 16px;
    color: #ffffff;
    transition: color 0.4s ease, opacity 0.4s ease;
}

.menu-link:hover {
    color: #FFD700;
}

.logo-img {
    height: 32px;
    width: 32px;
}

.hero {
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero__inner {
    min-height: 100vh;
    padding-top: 80px;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.subtitle {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.title {
    font-family: 'Nyght Serif';
    font-size: 100px;
    max-width: 1100px;
    margin: 0 auto;
}